.payment-form {
  background-color: #101010;
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;

  &__title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__submit {
    padding: 10px;
  }
}

.form-results {
  background-color: #101010;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 10px;

  &__code {
    color: white;
  }
}
